# Ignore .git folder
.git*

LICENSE
Makefile
README.md
README.md.bu
SAMPLE.md
VERSION
befb88b89c2eb401900a68e9f5b78764203f2b48264fcc3f7121bf04a57fd408
build
circle.yml
debug
docker-entrypoint.sh
floss
logo.png
CHANGELOG.md
.vscode
docs*
